* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.menu{
  background: rgb(0,100, 0);
}
.logo{
  height: 30px;
  width: 60px;
  text-align:left;
  position: relative;
  left: 10px;
  margin-right: 20px;
  top:10px;
}
.menu ul{text-align:center;
  display: inline-flex;
  list-style: none;
  color: #fff;
}
.menu ul li {
  width: 150px;
  margin:10px 20px;
  font-size: 22px;
  display: block;
}
.menu ul li a{
  color: #fff;
  text-decoration: none;
  display: block;
  line-height: 50px;
}
.menu ul li:hover
{
  background: #2bab0d;
  border-radius: 3px;
}
.submenu1{
  display: none;
}
.menu ul li:hover .submenu1{
  display: block;
  position: absolute;
  background: rgb(0,100,0);
  margin-left: 0px;
}
.menu ul li:hover .submenu1 ul{
  display: block;

}
.menu ul li:hover .submenu1 ul li a{
  line-height: 30px;
}
.menu ul li:hover .submenu1 ul li{
  width: 150px;
  margin: 10px;
  font-size: 18px;
 margin-bottom: 5px;
  border-bottom: 1px dotted #fff;
  text-align: left;
}
.menu ul li:hover .submenu1 ul li:last-child{
  border-bottom:none;}
.menu ul li:hover .submenu1 ul li a:hover{
  color: #b2ff00;
}
.submenu2{
  display: none;

}
.me:hover .submenu2{
  position: absolute;
  display: block;
    font-size: 10px;
  margin-top: -20px;
  margin-left: 140px;
  background: rgb(0,100,0);
}
.me:hover .submenu2 ul li{
  width: 100px;
  border-bottom:none;
  text-align: left;}
.container{
  margin:30px;
  background: #e0e0d1;
  font-size: 17px;
  line-height: 40px;
}
.btn a{
  width: 150px;
  margin:10px 40px;
  font-size: 22px;
  display: block;
  line-height: 50px;
  background-color:#ff8533;
  text-align: center;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  box-shadow: 0 7px #e65c00;
}
.btn a:active{
  position: relative;
  box-shadow: none;
  top: 7px;
}
.name,.terms{
  padding: 30px;
}
.head{
  padding-left: 40px;
  color:#ff0000;
}
.head1{
color:#ffbf00;
}
.main{
  text-align: center;
  color:#000099;
}
span{
  font-weight: 600;
}
.box1{
  width: 45%;
  float:left;
}
.img{
  width:450px;
  margin:auto auto;
  padding-left: 50px;
}
.bread{
  height: 350px;
}
.led,.uno {
  padding-bottom: 390px;
}
.potentiometer{padding-bottom: 30px;}
.uno {padding-bottom: 180px;}
.mega,.micro,.esp32 {padding-bottom: 160px;}
footer{
  margin:30px;
  background: #3d3d29;
  font-size: 17px;
  line-height: 40px;
  padding: 25px 0;
}
.facebook a{width: 250px;
margin:10px 40px;
font-size: 22px;
display: block;
line-height: 50px;
background-color:#4d4dff;
text-align: center;
color: #fff;
text-decoration: none;
border-radius: 2px;}
.us{color: #fff;}
